<!doctype html>
<div class="homeContent content container">
	<div id = "name">
		<h1>Karen Ma</h1>
	</div>
	<div id = "description">
		<div class="subtitle">
			<p>{{about.pitch}}</p>
		</div>
	</div>
	<div class="row" id = "skills">
		{{#each skills}}
		<div class= "skill col-md-4">
			<h2 id="{{id}}">{{category}}</h2>
			{{#each skill}}
			<ul>
				<li>{{this}}
				</li>
			</ul>
			{{/each}}
		</div>
	{{/each}}
	</div>
	{{#each projBlurbs}}
	<div class="{{class}}" id = "{{id}}">
		<a href="{{id}}.html" >
			<div class="row">
				<div class="projTitle col-lg-12 col-md-12">
					<h1>{{title}}</h1>
				</div>
			</div>
			<div class= "row projContent">
				<div class="image col-md-6">
					<img src="./public/images/projBlurbs/{{image}}">
				</div>
				<div class="col-md-6">
					{{#each description}}
					<p><span>{{type}}</span>{{text}}</p>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="projButton col-md-12">
					<p>View Case Study</p>
				</div>
			</div>

		</a>
	</div>
	{{/each}}
	<div class="row section " id = "about">
		<div class = "alignCenter">
			<img class="circle col-md-6" src="./public/images/{{about.image}}">
			<div class="col-md-6">
				<p class="textLine">About Me</p>
				<p>{{about.summary}}</p>
			</div>
		</div>
	</div>
</div>


