<!doctype html>
<div class="homeContent container">
	<div id = "name">
		<h1>Karen Ma</h1>
	</div>
	<div id = "description">
		<div class="subtitle">
			<h4>{{about.pitch}}</h4>
		</div>
	</div>
	<div class="row">
		{{#each projBlurbs}}
		<div class = "col-lg-4 col-md-6 col-sm-12">
			<a href="{{id}}.html" >
				<div class="{{class}}" id = "{{id}}">
						<div class= "projContent">
							<img src="./public/images/projBlurbs/{{image}}">
						</div>
						<div class="projTitle">
							<h4>{{title}}</h4>
							<p>{{description}}</p>
					</div>
				</div>
			</a >

	</div>
		{{/each}}
	</div>
		<div class="row section " id = "about">
			<div class = "col-md-5 col-sm-12">
				<img  src="./public/images/{{about.image}}">
			</div>
				<div class="col-md-7 col-sm-12">
					<h1 class="textLine">About Me</h1>
					{{#each about.summary}}
					<p>{{this}}</p>
					{{/each}}
					<a href ="./public/resumeKarenMa.pdf" target="_blank">Resume</a>
				</div>
			</div>
	</div>
</div>

