<!doctype html>

	<div class = "row homeContent">
		<div class = "col-lg-8 infoBox">
				<div class = "card">
					<header class="card-body">
						<h2> Karen Ma</h2>
						<h3>Lead Product Designer & Strategist</h3>
					</header>
				</div>
		</div>
		{{#each projBlurbs}}
		<div class="projects col-lg-4">
			<div class = "projLayout card">
				<div class=" card-body">
					<a href="{{id}}.html" >
						<div class="projBlurbs">
							<h4 id="{{@index}}">{{title}}</h4>
							<p>{{description}}</p>
							<div class= "readMore">
								<button  type="button" class="btn btn-outline-primary" aria-describedby="{{@index}}">View Project</button>
							</div>
						</div>
					</a >
				</div>
			</div>
		</div>
		{{/each}}
		<div class = "col-lg-4 infoBox">
			<div class = "card">
				<header class="card-body">
					<h2> Resume Links here</h2>
					<h3>Lead Product Designer & Strategist</h3>
				</header>
			</div>
		</div>
	</div>
	<div>
		<p>placeholder</p>
	</div>



