<!doctype html>

	<div class= "homeContent">
	<div class = "row">
		<div class = "col-lg-6">
				<div class = "heading card">
					<header class="card-body">
						<h2> Karen Ma</h2>
						<h3>Lead Product Designer & Strategist</h3>
					</header>
				</div>
			<div class="about card">
				<div class=" card-body">
					<p>Currently located in Chicago, I work as a Lead Designer at NextCapital where I'm focused on finding ways to encourage people to plan for retirement. For more details, take a look at <span><a href="./public/resumeKarenMa.pdf" target="_blank">my full resume</a>. </span></p>
					<p> Outside of work, I enjoy learning about design across all disclipines and listen to design-related podcasts like 99% Invisible and Twenty Thousand Hertz. I started writing to collect all my design and product musing into <span><a href="https://medium.com/@karenma" target="_blank">one space</a></span>.</p>
					<p>
					Recently Read:</p>
					<ul>
						<li><p>Never Let Me Go, Kazuo Ishiguro</p></li>
					</ul>
					<p> Where else to find me:  <br>
						<span><a href="https://www.linkedin.com/in/karenma333 target="_blank">LinkedIn</a></span> <br>
						<span><a href="https://www.github.com/karenma333 target="_blank">GitHub</a></span> <br>
						<span><a href="https://www.medium.com/@karenma"target="_blank">Medium</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="projects col-lg-6">
			{{#each projBlurbs}}
			<div class = "projLayout card">
				<div class=" card-body">
					<a href="{{id}}.html" >
						<div class="projBlurbs">
							<h4 id="{{@index}}">{{title}}</h4>
							<p>{{description}}</p>
							<div class= "readMore">
								<button  type="button" class="btn btn-outline-primary" aria-describedby="{{@index}}">View Project</button>
							</div>
						</div>
					</a >
				</div>
			</div>
			{{/each}}
		</div>
	</div>



