<!doctype html>
<div class="homeContent">
	<div class = "row">
		<div class = "col-lg-8 infoBox">
				<div class = "card col-lg-12">
					<header class="card-body">
						<h2> Karen Ma</h2>
						<ul>
							<li>Product Designer</li>
							<li>Chicago/Remote</li>
							<li>GRC, Fintech, Startups</li>
							<li>Interests: DesignOps, Product Strategy, Design systems</li>

						</ul>
					</header>
				</div>
		</div>
		{{#each projBlurbs}}
		<div class="projects col-lg-4">
			<div class = "projLayout card col-lg-12">
				<div class=" card-body">
					<a href="{{id}}.html" >
						<div class="projBlurbs">
							<h4 id="{{@index}}">{{title}}</h4>
							<p>{{description}}</p>
						</div>
					</a >
				</div>
			</div>
		</div>
		{{/each}}
		<div class = "col-lg-4 infoBox">
			<div class = "card col-lg-12">
				<header class="card-body ">
					<button  type="button" class="btn btn-outline-primary" aria-describedby="{{@index}}">Resume</button>
					<button  type="button" class="btn btn-outline-primary" aria-describedby="{{@index}}">LinkedIn</button>
				</header>
			</div>
		</div>
	</div>
	<div>
		<p>placeholder</p>
	</div>
</div>



