<!doctype html>
<div class="homeContent content container">
	<div id = "name">
		<h1>Karen Ma</h1>
	</div>
	<div id = "description">
		<div class="subtitle">
			<h4>{{about.pitch}}</h4>
		</div>
	</div>
	<div class="row">
		{{#each workBlurbs}}
		<div class="{{class}}" id = "{{id}}">
			<div class="row">
				<div class="projTitle col-lg-12 col-md-12">
					<h3>{{role}}</h3>
				</div>
			</div>
			<div class= "row">
				<div class="col-md-5">
				<p>{{text}}</p>
				</div>
				<div class ="workDesc col-md-7">
				{{#each description}}
				<div>
					<h4>{{type}}</h4>
					<ul>
					{{#each text}}
						<li>{{this}}</li>
					{{/each}}
					</ul>
				</div>
				{{/each}}
			</div>
			</div>
		</div>
		{{/each}}
		{{#each projBlurbs}}
		<div class="{{class}}" id = "{{id}}">
			<a href="{{id}}.html" >
				<div class="row">
					<div class="projTitle col-lg-9 col-md-3">
						<h1>{{title}}</h1>
					</div>
					<div class="tag col-lg-3 col-md-9">
						<p>Selected Student Work</p>
					</div>
				</div>
				<div class= "row projContent">
					<div class="image col-md-6">
						<img src="./public/images/projBlurbs/{{image}}">
					</div>
					<div class="col-md-6">
						{{#each description}}
						<p><span>{{type}}</span>{{text}}</p>
						{{/each}}
					</div>
				</div>
				<div class="row">
					<div class="projButton col-md-12">
						<p>View Case Study</p>
					</div>
				</div>

			</a>
		</div>
		{{/each}}
		<div class="row section " id = "about">
			<div class = "col-md-5">
				<img class="circle" src="./public/images/{{about.image}}">
			</div>
				<div class="col-md-7">
					<h1 class="textLine">About Me</h1>
					<p>{{about.summary}}</p>
				</div>
			</div>
	</div>
</div>

