<!doctype html>
		<h1>Human-Centered Designer + Product Strategist</h1>
	<div class = "col-lg-8 intro">
		<h3>Problem solving in innovative fields and using my skills to improve our world, from small usability fixes to broad product concepts </h3>
		<p>Check out some of my recent work below!</p>

	</div>
	<div class="row" id="0">
		{{#each projBlurbs}}
		<div class = "col-lg-4 col-md-6 col-sm-12">
			<a href="{{id}}.html" >
				<div class="{{class}}" id = "{{id}}">
						<div class= "projContent">
							<img src="./public/images/projBlurbs/{{image}}">
						</div>
						<div class="projTitle">
							<h4>{{title}}</h4>
							<p>{{description}}</p>
					</div>
				</div>
			</a >
		</div>
		{{/each}}


