<!doctype html>
	<div class = "heading"id="particles-js">
		<header>
			<h1> Karen Ma</h1>
			<h2>Lead Product Designer & Strategist</h2>
		</header>

	</div>
	<div class= "homeContent">
	<div class="about">
		<h3>About Me</h3>
		<p>Currently located in Chicago, I work as a Lead Designer at NextCapital where I'm focused on finding ways to encourage people to plan for retirement. For more details, take a look at <span><a href="./public/resumeKarenMa.pdf" target="_blank">my full resume</a>. </span></p>
		<p> Outside of work, I enjoy learning about design across all disclipines and listen to design-related podcasts like 99% Invisible and Twenty Thousand Hertz. I started writing to collect all my design and product musing into <span><a href="https://medium.com/@karenma" target="_blank">one space</a></span> .</p>
		<p>
		Recently Read:</p>
		<ul>
			<li><p>Never Let Me Go, Kazuo Ishiguro</p></li>
		</ul>
		<p> Where else to find me:  <br>
			<span><a href="https://www.linkedin.com/in/karenma333 target="_blank">LinkedIn</a></span> ,
			<span><a href="https://www.github.com/karenma333 target="_blank">GitHub</a></span> ,
			<span><a href="https://www.medium.com/@karenma"target="_blank">Medium</a></span> ,
			<span> email (karenma333@gmail.com)</span> 
		</p>
	</div>
		<div class="projects">
			<h3>Selected Work</h3>
			{{#each projBlurbs}}
			<div class = "projLayout">
				<a href="{{id}}.html" >
					<div class="projBlurbs">
						<h4 id="{{@index}}">{{title}}</h4>
						<p>{{description}}</p>
						<div class= "readMore">
							<p  aria-describedby="{{@index}}">VIEW PROJECT</p> <img src = "./public/icons/Arrow1.png">
						</div>
					</div>
				</a >
			</div>
			{{/each}}
		</div>
	</div>



