<!doctype html>
<div class="homeContent">
	<div class = "row">
		<div class = "col-lg-8 infoBox">
				<div class = "card col-lg-12">
					<header class="card-body">
						<h1> Karen Ma</h1>
						<ul>
							<li>Product Designer</li>
							<li>Chicago/Remote</li>
							<li>GRC, Fintech, Startups</li>
							<li>Interests: DesignOps, Product Strategy, Design systems</li>

						</ul>
					</header>
				</div>
		</div>
		{{#each projBlurbs}}
		<div class="projects col-lg-4">
			<a href="{{id}}.html" >
			<div class = "projLayout card col-lg-12">
				<div class=" card-body">
						<div class="projBlurbs">
							<p class="cardTitle" id="{{@index}}">{{title}} <span>→</span></p>
							<p>{{description}}</p>
						</div>
				</div>
			</div>
			</a >
		</div>
		{{/each}}
		<!--<div class = "col-lg-4 infoBox">
			<div class = "card col-lg-12">
				<div class="card-body ">
					<div class="ilinks">
						<b>Other Links</b><br>
						<a href="">LinkedIn</a><br>
						<a href="">Github</a><br>
						<a href="">Medium(?)</a>
					</div>
					<button  type="button" class="btn btn-outline-primary" aria-describedby="{{@index}}">Download Resume</button><br>

					<p>Mail to:karenma333@gmail.com</p>

				</div>
			</div>
		</div>-->
	</div>
</div>




