<!doctype html>
	<article>
		<header>
		<div class="container">
			<div class = "row header">
				<div class = "col-lg-12">
					<div class = "topProj">
						<a href="index.html"><p>Karen Ma</p></a>
						<nav>
							<a href="index.html">Home</a>
						</nav>
					</div>
					</div>
				</div>
			</div>
			<div class="container projTitle">
				<div class="row projTop">
					<div class= "proj_intro">
						<div>
							<h1 role= "heading" aria-level="1">{{project}}</h1>
						</div>

							<div class="proj_details">
								{{#each overview}}
								{{#each this}}
								<span>{{this}}</span>
								{{/each}}
								{{/each}}
							</div>
						<div class="disclaimer secondary">
							<p >{{disclaimer}}</p>
						</div>
					</div>
				</div>
			</div>
		</header>
	<div class="container">
	{{#each category}}
	<div class="row sectionTitle">
		<h2>{{Title}}</h2>
	</div>	
		<div class="row writeUp" id= "first">
			<div class="sectionBody">
				{{#each section}}
					<div class ="subsection">
						<h3 role="heading" aria-level="2">  {{Subtitle}}</h3>
						<p>{{Paragraph}}</p>
					</div>
					{{#if Bullets}}
					<div>
						<ul>
							{{#each Bullets}}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
					{{/if}}
					{{#if image}}
					<div class = "background full_photo">
						<img src="./public/images/{{image}}" alt="{{altText}}">
						<div>
							<p>{{caption}}</p>
						 </div>
					</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</article>