<!doctype html>
	<article>
		<header>
			<div class="sticky row">
				<div class="col-lg-3">
					<button type="button" class="menu btn btn-outline-primary">Menu</button>
				</div>
				<div class=" pageTitle col-lg-9">
					<p>{{project}}</p>
				</div>
			</div>
			<div class="projTitle">
					<div class="row projTop">
						<nav class="navMenu col-lg-3">
							<p>Menu</p>
							<ul>
								<li> <a href="index.html" > Work</a></li>
								<ul>
									<li> <a href = "1.html"> Automations Redesign</a> </li>
									<li> <a href = "2.html"> Automations Auditability </a> </li>
									<li> <a href = "3.html"> Retirement Wizard </a> </li>
								</ul>
								<li> <a href= "4.html"> About Me </a> </li>
							</ul>
						</nav>

						<div class= "proj_intro col-lg-9">
							<div>
								<h1 role= "heading" aria-level="1">{{project}}</h1>
							</div>

								<div class="proj_details">
									{{#each overview}}
									{{#each this}}
									<h5>{{this}}</h5>
									{{/each}}
									{{/each}}
								</div>
							<div class="disclaimer secondary">
								<p >{{disclaimer}}</p>
							</div>
						</div>
					</div>
			</div>
		</header>
	{{#each category}}
	<div class="row writeUp" id= "first">	
		<div class = "sectionTitle splash col-lg-3">
			<h3 class= "secTitle" id= "stickyTitle" data-title= {{Title}} role="heading" aria-level="2">{{Title}}</h3>
		</div>
		<div class="sectionBody col-lg-9">
			{{#each section}}
				<div class ="subsection">
					<h3 role="heading" aria-level="2">  {{Subtitle}}</h3>
					<p>{{Paragraph}}</p>
				</div>
				{{#if Bullets}}
				<div>
					<ul>
						{{#each Bullets}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}
				{{#if image}}
				<div class = "background full_photo">
					<img src="./public/images/{{image}}" alt="{{altText}}">
					<div>
						<p>{{caption}}</p>
					 </div>
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
	{{/each}}

</article>