<!doctype html>
	<article>
	<div class="container">
	{{#each category}}

	{{#if sectionSplashImg}}
	<div class="splashImage">
		<img src="./public/images/{{sectionSplashImg}}">
	</div>
	{{/if}}
	<div class="row sectionTitle">
		<h2>{{Title}}</h2>
	</div>
		<div class="row writeUp" id= "first">
			<div class="sectionBody">
				{{#each section}}
					<div class ="subsection">
						<h3 role="heading" aria-level="2">  {{Subtitle}}</h3>
						<p>{{Paragraph}}</p>
					</div>
					{{#if Bullets}}
					<div class= "details" id="{{order}}">
						<div class = "background full_photo">
						 	<img class="d-block w-100" src="./public/images/splashRetirementWiz.png" alt="Third slide">
						 </div>
						<ul>
							{{#each details}}
							<li>{{this}} </li>							
							{{/each}}
						</ul>
					</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</article>