<div class="windowGroup">
 {{#each window}}
    <div id="window{{id}}" class="window">
        <div class="purple">
            <p class="windowTitle">{{Title}}</p>
        </div>
        <div class="mainWindow">
            <div>
				<h3>{{Title}}</h3>
				<h4>{{Subtitle}}</h4>
				<p>{{disclaimer}}</p>
			</div>
			<div class="full_photo">
				<img src="./public/images/{{sectionSplashImg}}">
			</div>
			{{#each category}}
			<div>
				<h4>{{Title}}</h4>
				<div>
					<div>
						{{#each details}}
						<p>{{this}} </p>							
						{{/each}}
					</div>
				</div>
			</div>
			{{/each}}
        </div>
    </div>
    {{/each}}
</div>
