<!doctype html>
	<div class="col-lg-8">
		<a href = "index.html">Back</a>
		<div>
			<h3>{{Title}}</h3>
			<h4>{{Subtitle}}</h4>
			<p>{{disclaimer}}</p>
		</div>
		<div class="full_photov">
			<img src="./public/images/{{sectionSplashImg}}">
		</div>
		{{#each category}}
		<div>
			<h4>{{Title}}</h4>
			<div>
				<div>
					{{#each details}}
					<p>{{this}} </p>							
					{{/each}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</article>