<!doctype html>
{% raw %}
<div class="content container">
	<div id = "name">
		<h1>Karen Ma</h1>
	</div>
	<div id = "description">
		<div class="subtitle">
			<p class="textLine">{{about.pitch}}</p>
		</div>
	</div>
	<div class="row" id = "skills">
		{{#each skills}}
		<div class= "skill col-md-4">
			<h2 id="{{id}}">{{category}}</h2>
			{{#each skill}}
			<ul>
				<li>{{this}}
				</li>
			</ul>
			{{/each}}
		</div>
	{{/each}}
	</div>
	<div class="row">
		{{#each projBlurbs}}
		<button>{{title}}</button>
		{{/each}}
	</div>
	<div class = "slideshow row" id="projBlurbs">
		<div class = "button" id="left">
			<img src="/assets/arrow-left.svg" alt="icon name">
		</div>
		{{#each projBlurbs}}
		<div class="{{class}}" id = "{{id}}">
			<a href="/project">
				<div class="row">
					<div class="image col-md-6">
						<img src="images/projBlurbs/{{image}}">
					</div>
					<div class="col-md-6">
						<h4>{{title}}</h4>
						{{#each description}}
						<p><span>{{type}}</span>{{text}}</p>
						{{/each}}
					</div>
				</div>
				<div class="row">
					<button>Read More</button>
				</div>
			</a>
		</div>
		{{/each}}
		<div class="button" id="right">
			<img src="/assets/arrow-right.svg" alt="icon name">
		</div>
	</div>
	<div class="row" id = "about">
		<img class="circle col-md-6" src="images/projBlurbs/{{image}}">
		<p class="col-md-6">{{about.summary}}</p>
	</div>
</div>
{% endraw %}
