<!doctype html>

<div class="content container">
	<div id = "name">
		<h1>Flexible Travel Planning</h1>
	</div>
	<div id = "description">
		<div class="subtitle">
			<p class="textLine">{{subtitle}}</p>
		</div>
	</div>
	<div class = "projSummary row">
		<div class = "col-md-12">
			<img src="/images/{{image}}">
		</div>
			
	</div>
	<div class= "section">
		<div class="subtitle">
			<p class="textLine">Overview</p>
		</div>
		<p><span>Role: </span>{{role}}</p>
			<p><span>Tools: </span>{{tools}}</p>
			<button class="btn">Interactive Mobile Mockup</button>
			<button class="btn">Interactive Desktop Mockup</button>
	</div>
		{{#each image-sections}}
		<div>
			<div class="subtitle">
				<p class="textLine">{{title}}</p>
			</div>
				<img src="/images/{{image}}">
				<div>
					<h4>{{blurb}}</h4>
				</div>
		</div>
		{{/each}}
	</div>
	<div class = "about me">
	</div>
</div>
