<!doctype html>

<div class="content">
	<div class = "bio">
	<p>made it to index</p>
	</div>
	<div>
		{{#each skills}}
		<div class= "skill" id="{{id}}">
			<p>{{summary}}</p>
		</div>
	</div>
	{{/each}}
	<div class = "slideshow">
		<div class = "button" id="left">
			<a href="#">
				<p>left</p>
			</a>
		</div>
		{{#each projBlurbs}}
		<div class="{{class}}" id = "{{id}}">
			<a href="/project">
				<!--<img src="images/{{image}}">-->
				<img src={{image}}>
				<div>
					<h4>{{summary}}</h4>
				</div>
			</a>
		</div>
		{{/each}}
		<div class="button" id="right">
			<a href="#">
				<p>right</p>
			</a>
		</div>
	</div>
	<div class = "about me">
	</div>
</div>
