<!doctype html>

<div class="content">
	<div id = "bio">
	<p>{{about.pitch}}</p>
	</div>
	<div id = "skills">
		{{#each skills}}
		<div class= "skill" id="{{id}}">
			<p>{{category}}</p>
			{{#each skill}}
			<ul>
				<li>{{this}}
				</li>
			</ul>
			{{/each}}
		</div>
	{{/each}}
	</div>
	<div class = "slideshow">
		<div class = "button" id="left">
			<a href="#">
				<p>left</p>
			</a>
		</div>
		{{#each projBlurbs}}
		<div class="{{class}}" id = "{{id}}">
			<a href="/project">
				<img src={{image}}>
				<div>
					<h4>{{summary}}</h4>
				</div>
			</a>
		</div>
		{{/each}}
		<div class="button" id="right">
			<a href="#">
				<p>right</p>
			</a>
		</div>
	</div>
	<div class = "about me">
		<p>{{about.summary}}</p>
	</div>
</div>
